<a href="https://colab.research.google.com/github/tiffanyndanu/Mchezopesa/blob/main/Mchezopesa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. DEFINING THE QUESTION.**


### **a)The Data Analytic Question**

>Based on who's home and who's away, and whether or not the game is friendly, what will be the predicted results of a game between team 1 and team 2?

### **b)Metric for Success**

> Approach 1: Polynomial approach
Be able to Predict how many goals the home team scores. Be able to Predict how many goals the away team scores.

> Approach 2: Logistic approach
Feature Engineering: Figure out from the home teamâ€™s perspective if the game is a Win, Lose or Draw.

> For our analysis to be considered successful, we must be able to:

1.Perform explorative data analysis.

2.Create a prediction model with high accuracy.

3.Predict how many goals the home team and the away team scores.

4.Predict whether from the home team's perspective, the game is a Win, Lose or Draw.

### **c)Understanding the context**

FIFA produced the inaugural ranking of its men's member associations in December 1992 to offer a framework for comparing the relative strengths of these teams.

 Historical rankings records, such as those found on FIFA.com, reflect the method of calculation in use at the time, as the new technique has not been applied retroactively to rankings prior to July 2006. Since the rankings began, FIFA's membership has grown from 167 to 211, with 210 members currently included in the rankings.

 FIFA uses the rankings to rate the progress and existing capabilities of its member nations' national football teams, claiming that they provide "a valid metric for comparing national A-teams."They are used to seed tournaments as part of the calculation or as the complete grounds.

 The rankings are also used to choose the winners of two annual awards given to national teams based on their rankings performance.

One of the factors for player work permits used by the (English) Football Association is the average of the previous 24 months' rankings.

###**d)Experimental Design**




> These are the steps to be followed during the analysis:


1.Defining the Question

2.Data preparation

3.Data Cleaning

4.Merging the Dataframes

5.Performing EDA

6.Prediction Models

7.Checking accuracy for our models

8.Challenging the solution and conclusion

###**e)Data Relevance**

The data provided is relevant since it contains all details required for analysis and building a model for prediction.

# **2. DATA PREPARATION**

In [ ]:
# Importing the necessary libraries
#Numpy is a library for python that supports multidimensional arrays and matrices as well as mathematical functions
import numpy as np
#Pandas is Python library used for data manipulation and data analysis
import pandas as pd
#Matplotlib is a python library utilised in plotting and its numerical capabilities
import matplotlib.pyplot as plt
#Seaborn is a Python data visualisation library basrd on matplotlib.
import seaborn as sns
#Is a function in Sklearn for splitting data into two subsets: training set and testing set 
from sklearn.model_selection import train_test_split
#This is used to import linearregression model
from sklearn.linear_model import LinearRegression
#This is used to import the LogisticRegression model
from sklearn.linear_model import LogisticRegression

In [ ]:
# Loading the ranking dataset and previewing it

Ranking = pd.read_csv('/content/fifa_ranking.csv')
Ranking

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57788,206,Anguilla,AIA,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2018-06-07
57789,206,Bahamas,BAH,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2018-06-07
57790,206,Eritrea,ERI,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,2018-06-07
57791,206,Somalia,SOM,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,2018-06-07
57792,206,Tonga,TGA,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,OFC,2018-06-07

In [ ]:
# Loading the results dataset and previewing it

Results = pd.read_csv('/content/results.csv')
Results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
40834,2019-07-18,American Samoa,Tahiti,8,1,Pacific Games,Apia,Samoa,True
40835,2019-07-18,Fiji,Solomon Islands,4,4,Pacific Games,Apia,Samoa,True
40836,2019-07-19,Senegal,Algeria,0,1,African Cup of Nations,Cairo,Egypt,True
40837,2019-07-19,Tajikistan,North Korea,0,1,Intercontinental Cup,Ahmedabad,India,True
40838,2019-07-20,Papua New Guinea,Fiji,1,1,Pacific Games,Apia,Samoa,True

In [ ]:
# Checking the shape of both datsets

print(Ranking.shape)
print(Results.shape)

#The ranking datset has 57,793 rows and 16 columns
#The results dataset has 40,839 rows and 9 columns

(57793, 16)
(40839, 9)

In [ ]:
# Getting information about the Ranking dataset

Ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   total_points             57793 non-null  float64
 4   previous_points          57793 non-null  int64
 5   rank_change              57793 non-null  int64
 6   cur_year_avg             57793 non-null  float64
 7   cur_year_avg_weighted    57793 non-null  float64
 8   last_year_avg            57793 non-null  float64
 9   last_year_avg_weighted   57793 non-null  float64
 10  two_year_ago_avg         57793 non-null  float64
 11  two_year_ago_weighted    57793 non-null  float64
 12  three_year_ago_avg       57793 non-null  float64
 13  three_year_ago_weighted  57793 non-null  float64
 14  confederation            57793 non-null  object
 15  rank_date                57793 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [ ]:
# Getting information about the Results dataset

Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        40839 non-null  object
 1   home_team   40839 non-null  object
 2   away_team   40839 non-null  object
 3   home_score  40839 non-null  int64
 4   away_score  40839 non-null  int64
 5   tournament  40839 non-null  object
 6   city        40839 non-null  object
 7   country     40839 non-null  object
 8   neutral     40839 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

In [ ]:
# Summary statistics for the Ranking dataset

Ranking.describe()

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted
count,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000
mean,101.628086,122.068637,332.302926,-0.009897,61.798602,61.798602,61.004602,30.502377,59.777462,17.933277,59.173916,11.834811
std,58.618424,260.426863,302.872948,5.804309,138.014883,138.014883,137.688204,68.844143,136.296079,40.888849,135.533343,27.106675
min,1.000000,0.000000,0.000000,-72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51.000000,0.000000,56.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,101.000000,0.000000,272.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,152.000000,92.790000,525.000000,1.000000,32.250000,32.250000,26.660000,13.330000,21.500000,6.450000,21.250000,4.250000
max,209.000000,1775.030000,1920.000000,92.000000,1158.660000,1158.660000,1169.570000,584.790000,1159.710000,347.910000,1200.770000,240.150000

In [ ]:
# Summary statistics for the Results dataset

Results.describe()

         home_score    away_score
count  40839.000000  40839.000000
mean       1.745709      1.188105
std        1.749145      1.405120
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

# **DATA CLEANING**

In [ ]:
# Checking for missing values in the ranking dataset

Ranking.isnull().sum()

rank                       0
country_full               0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
dtype: int64

In [ ]:
# Checking for missing values in the results dataset

Results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [ ]:
# Checking for duplicates in the ranking dataset

Ranking.duplicated().sum()

37

In [ ]:
# Dropping duplicates in the Ranking dataset

Ranking.drop_duplicates(inplace=True)
Ranking.duplicated().sum()

0

In [ ]:
# Checking for duplicates in the results dataset

Results.duplicated().sum()

0